$primary: #c40f0f;
$secondary: #0d99cc;
$background: #afc6d6;
$backgroundGradient: linear-gradient(to right, #afc6d6 0%,#d6d6d6 30%,#d6d6d6 70%,#afc6d6 100%);
$lightGrey: #c9d6db;
$darkGrey: #bdc8cc;
$black: black;
