
@import '~vuetify-scss';

$primary: #c40f0f;
$secondary: #0d99cc;
$background: #afc6d6;
$backgroundGradient: linear-gradient(to right, #afc6d6 0%,#d6d6d6 30%,#d6d6d6 70%,#afc6d6 100%);
$tableRowOdd: #c9d6db;
$tableRowEven: #bdc8cc;
$black: black;

@import url('https://fonts.googleapis.com/css?family=Russo+One|Bungee+Inline');

h1, h2, h3, h4 {
  font-family: 'Russo One', sans-serif;
  color: $primary;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 0.7cm;
}

h2 {
  font-size: 0.5cm;
}

h3 {
  font-size: 0.4cm;
  border-bottom: 2px solid $secondary;
}

h4 {
  font-size: 0.35cm;
}
