
@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Russo+One|Bungee+Inline');

a {
  text-decoration: none;

  &:hover {
    color: lighten($primary, 30%);
  }
}

.text-right {
  text-align: right;
}

.flex-none {
  flex: none !important;
}

.op-10 { opacity: 0.1; }
.op-20 { opacity: 0.2; }
.op-30 { opacity: 0.3; }
.op-40 { opacity: 0.4; }
.op-50 { opacity: 0.5; }
.op-60 { opacity: 0.6; }
.op-70 { opacity: 0.7; }
.op-80 { opacity: 0.8; }
.op-90 { opacity: 0.9; }

.pull-right {
  float: right;
}

h1, h2, h3, h4 {
  font-family: 'Russo One', sans-serif;
  color: $primary;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 0.7cm;
}

h2 {
  font-size: 0.5cm;
}

h3 {
  font-size: 0.4cm;
  border-bottom: 2px solid $secondary;
  clear: both;
}

h4 {
  font-size: 0.35cm;
}

h5 {
  font-size: .4cm;
}

hr {
  visibility: hidden;
}

ul {
  margin-bottom: 1rem;
  text-align: left;
}

blockquote {
  margin-bottom: 1em;
  padding: 5px 10px;
  background-color: $darkGrey;
  border: 1px solid $secondary;
  box-shadow: 0px 0px 20px rgba($secondary, 0.5);

  h2, h4 {
    color: $black;
  }

  hr {
    visibility: visible;
    background-color: $secondary;
    height: 5px;
    border: none;
  }

  .table {
    width: 100%;
  }
}

.block {
  padding: 15px 10px;
  margin: 15px;
  background-color: $darkGrey;
  border-top: 0.2em solid $secondary;
  border-bottom: 0.2em solid $secondary;
  border-left: 0;
  border-right: 0;
  box-shadow: 0 0 1.5em rgba($secondary, 0.5);
  overflow-x: auto;


  h2, h4 {
    color: $black;
  }

  hr {
    visibility: visible;
    background-color: $secondary;
    height: 5px;
    border: none;
  }
}

.table {
  border-collapse: collapse;
  min-width: 200px;
  margin-bottom: 15px;

  tbody tr {
    &:nth-child(odd) {
      background-color: $lightGrey;
    }

    &:nth-child(even) {
      background-color: $darkGrey;
    }
  }

  td, th {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}

table.v-table {
  max-width: none;
}

.v-application.theme--dark {
  a:not(.v-btn):not(.v-list-item) {
    color: $darkSidePrimary;

    &:hover {
      color: lighten($darkSidePrimary, 30%);
    }
  }

  h1, h2, h3, h4 {
    color: $darkSidePrimary;
    text-shadow: 2px 2px 2px $black;
  }

  blockquote {
    background-color: $darkBackground;
    border-color: $primary;
    box-shadow: 0px 0px 20px rgba($primary, 0.5);

    hr {
      background-color: $primary;
    }
  }

  .block {
    background-color: $darkSideDarkGrey;
    border-color: $primary;
    box-shadow: 0 0 1.5em rgba($primary, 0.5);

    hr {
      background-color: $primary;
    }
  }

  h3 {
    border-bottom: 2px solid $primary;
  }

  .table tbody tr {
    &:nth-child(odd) {
      background-color: $darkSideLightGrey;
    }

    &:nth-child(even) {
      background-color: $darkSideDarkGrey;
    }
  }

  .v-table {
    background-color: $darkSideDarkGrey;
    border-color: $darkSideDarkGrey;
  }
}

@media print {
  @page {
    size: auto;
    margin: 0;
  }
}
